<div class="personal-data">
    <div class="personal-data__photo">
        <img src="assets/img/user1.jpg" alt="photo-user" />
    </div>
    <div class="personal-data__name">Alis Kim</div>
</div>
<div class="personal-data">
    <div class="personal-data__photo">
        <img src="assets/img/user2.jpg" alt="photo-user" />
    </div>
    <div class="personal-data__name">Kim Evans</div>
</div>