@import '../../../styles/variables';
@import '../../../styles/mixins';

.personal-data {
  display: inline-flex;
  margin-bottom: 12px;
  margin-left: 2px;

  &:last-child {
    margin-left: 10px;
  }

  &__photo {
    margin-right: 13px;
  }
}

//RESIZE

@media (min-width: $tablet) {

  .personal-data {
    display: flex;

    &:last-child {
      margin-left: 0;
    }
  }
}

