<div class="form__errors-container" [ngSwitch]="current">

    <div *ngSwitchCase="'email'" class="form__errors">
        <p *ngIf="(form.get('email').touched) && form.get('email')?.hasError('required')">  {{ errors.email.required }}  </p>
        <p *ngIf="(form.get('email').touched) && form.get('email')?.hasError('pattern')">  {{ errors.email.pattern }}  </p>
        <p *ngIf="serverErrors.email">  {{ serverErrors.email }}  </p>

    </div>

    <div *ngSwitchCase="'password'" class="form__errors">
        <p *ngIf="form.get('password').touched && form.get('password')?.hasError('required')">  {{ errors.password.required }}  </p>
        <p *ngIf="form.get('password').touched && form.get('password')?.hasError('minlength')">  {{ errors.password.minlength }}  </p>
        <p *ngIf="form.get('password').touched && form.get('password')?.hasError('pattern')">  {{ errors.password.pattern }}  </p>
        <p *ngIf="serverErrors.password">  {{ serverErrors.password }}  </p>
        <p *ngIf="serverErrors.new_password1">  {{ serverErrors.new_password1 }}  </p>
    </div>

    <div *ngSwitchCase="'username'" class="form__errors">
        <p *ngIf="form.get('username').touched && form.get('username')?.hasError('required')">  {{  errors.username.required  }}  </p>
        <p *ngIf="serverErrors.username">  {{ serverErrors.username }}  </p>
    </div>

    <div *ngSwitchCase="'confirmPassword'" class="form__errors">
        <p *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword')?.hasError('required')">  {{  errors.confirmPassword.required  }}  </p>
        <p *ngIf="form.get('confirmPassword').touched && form?.hasError('validateEqual')">  {{ errors.confirmPassword.validateEqual }}  </p>
        <p *ngIf="serverErrors.password_confirm">  {{ serverErrors.password_confirm }}  </p>
        <p *ngIf="serverErrors.new_password2">  {{ serverErrors.new_password2 }}  </p>
    </div>

    <div *ngSwitchCase="'oldPassword'" class="form__errors">
        <p *ngIf="(form.get('oldPassword').touched) && form.get('oldPassword')?.hasError('required')">  {{ errors.password.required }}  </p>
        <p *ngIf="(form.get('oldPassword').touched) && form.get('oldPassword')?.hasError('minlength')">  {{ errors.password.minlength }}  </p>
        <p *ngIf="(form.get('oldPassword').touched) && form.get('oldPassword')?.hasError('pattern')">  {{ errors.password.pattern }}  </p>
        <p *ngIf="serverErrors.old_password">  {{ serverErrors.old_password }}  </p>
    </div>

    <div *ngSwitchCase="'title'" class="form__errors">
        <p *ngIf="form.get('title').touched && form.get('title')?.hasError('required')">  {{  errors.title.required  }}  </p>
    </div>

    <div *ngSwitchCase="'description'" class="form__errors">
        <p *ngIf="form.get('description')?.hasError('characterMax')">  {{  errors.description.characterMax }}  </p>
    </div>

    <div *ngSwitchCase="'price'" class="form__errors">
        <p *ngIf="form.get('price').touched && form.get('price')?.hasError('required')">  {{  errors.price.required  }}  </p>
        <p *ngIf="form.get('price').touched && form.get('price')?.hasError('pattern')">  {{  errors.price.pattern  }}  </p>
    </div>
</div>