<header class="header">
    <div class="header__container">
        <a routerLink="/" class="header__logo logo">
            <img src="assets/img/logo.png" alt="logo" class="logo__img" />
        </a>
        <sell-search></sell-search>
    </div>

    <sell-user-panel></sell-user-panel>
</header>