@import '../../../../styles/variables';
@import '../../../../styles/mixins';

// /src/styles

.header {
  height: 59px;
  padding-left: 3.6%;
  display: flex;
  @include alignBoth(space-between, center);

  &__container {
    display: flex;
    align-items: center;
    width: 55%;
  }

  &__logo {
    width: 114px;
    position: relative;
    top: 2px;
    margin-right: 15.2%;

    &:hover {
      animation: movement .7s ease-in-out infinite;
    }
  }

}


