@import '../../styles/variables';
@import '../../styles/mixins';


.content-login-page {
  min-height: calc(100vh - 46px);
  background: $accent-color;
}

.login-image--right-section {
  display: none;
}

.login-content--left-section {
  background: $accent-color;
  padding-top: 84px;
  //margin-top: 40px;
  width: 100%;
}

.login-content__logo  {
  display: flex;
  justify-content: center;

  img {
    position: relative;
    left: -7px;
  }
}

.form-container {
  width: 88%;
  margin: 7.6em  auto 0px;
  @include font(14, $regular-ff);
}

.tabs {
  display: flex;
  justify-content: space-between;

  .tab {
    width: 45%;
    cursor: pointer;
    background: $form-element;
    text-align: center;
    @include transition();
    padding: 11px 0 7px;
    text-decoration: none;
    color: $base-dark-color;
    display: inline-block;
    border-bottom: 2px solid $form-element;

    &.active, &:hover {
      border-bottom: 2px solid $price-color;
    }
  }
}

  //Resize

  @media (min-width: $tablet) {

    .content-login-page {
      display: flex;
    }

    .login-content {
      &--left-section {
        width: 388px;
      }

      &__logo {
        @include transition();

        &:hover {
          transform: scale(1.1);
        }
      }
    }



    .login-image--right-section {
      display: block;
      width: calc(100% - 369px);
      min-height: 100vh;
      overflow: hidden;
      max-height: 100vh;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }