<div class="content-login-page">
    <div class="login-image--right-section">
        <img src="assets/img/login-right-section-image.png" alt="bg">
    </div>

    <div class="login-content--left-section">
        <div class="login-content__logo">
            <a routerLink="/">
                <img src="assets/img/logo-light.png" alt="logo">
            </a>
        </div>
        <div class="form-container">

            <div class="tabs">
                <a id="sign-in" class="tab" routerLink="signIn" routerLinkActive="active">Sign In</a>
                <a id="sign-up" class="tab" routerLink="signUp" routerLinkActive="active">Sign Up</a>
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>
