<form action="" class="search-form">
    <input type="text" class="search-form__input input" #searchField (keyup)='changed(searchField.value)'
           placeholder="Try find something" />
    <button type="button" class="search-form__button-send button-send--absolute fa fa-search icon--hover"
            (click)="searchGo(searchField.value)"></button>
</form>