@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.search-form {
  position: absolute;
  top: 70px;
  width: 92.8%;
  left: 3.6%;

  &__button-send {
    left: 1px;
    top: 0px;
    font-size: 13px;
    cursor: pointer;
  }

  &__input {
    padding: 0 5px 5px 22px;
    width: 100%;
    background: transparent;
  }
}

//Resize
@media (min-width: $mobile) {

    :host {
      width: 62%;
    }

    .search-form {
      position: relative;
      top: 5px;
      left: 0;
      width: 100%;
      min-width: 120px;
    }
}

@media (min-width: $tablet) {

    .search-form {

      &__button-send {
        left: 0px;
        top: 3px;
      }
    }
  }

@media (min-width: $desktop) {
  .search-form {

    &__button-send {
      left: 1px;
      top: 5px;
    }
  }
}