<ngb-carousel>
    <ng-template ngbSlide *ngFor='let obj of photos'>
        <img src="{{ obj.photo }}" alt="product_img">
    </ng-template>
    <a href="" class="right carousel-control-next"></a>
</ngb-carousel>
