@import '../../../styles/variables';
@import '../../../styles/mixins';


:host /deep/ .carousel {
  outline: none;

  .carousel-indicators {
    display: none;
  }

  .carousel-item {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-control-next, .carousel-control-prev {
    cursor: pointer;
    padding: 0 9px;
    width: auto;
    background: rgba(255, 255, 255, 0.4);
  }
} 

@media (min-width: $tablet) {

  :host {
    width: 52.6%;
  }
}

