<section class="modal-component">
        <h2 class="modal-component__title">Please, choose profile photo.</h2>
        <div class="image-container" *ngIf="profilePhoto.reader.length > 1">
                <img src="{{ profilePhoto.reader }}" alt="newProfilePhoto">
        </div>
        <input id="pictures"
               type="file"
               accept="image"
               name="user-photo"
               class="input-type-file"
               sellit-file-reader
               (changeFiles)="addMiniature($event)" />
        <label for="pictures" class="input">
                Click to make a choice..
                <span class="button-default button-add">+</span>
        </label>
        <div class="form__buttons-container form__single-button">
                 <button type="button" class="button-default" (click)="changePhoto()" [disabled]="profilePhoto.files.length < 1">Change</button>
        </div>
        <button type="button" class="close close-modal-window-button" (click)="closeActiveModal(null)">
            &times;
        </button>
        <div class="status-container">
                <p class="status" *ngIf="status">{{ status }}</p>
        </div>
</section>