<section class="modal-component">
    <h2 class="modal-component__title">Change password</h2>
    <form class="form" [formGroup]="formChangePassword" validateEqual>
    <div class="form__input-container">
        <input class="form__input input"
               type="password"
               formControlName="oldPassword"
               placeholder="Password" />
        <sell-errors [form]="formChangePassword" [current]="'oldPassword'"
                     [serverErrors]="serverErrors"></sell-errors>
    </div>
    <div class="form__input-container">
        <input class="form__input input"
               type="password"
               formControlName="password"
               placeholder="New password" />
        <sell-errors [serverErrors]="serverErrors" [form]="formChangePassword" [current]="'password'"></sell-errors>
    </div>
    <div class="form__input-container">
        <input name='old-email'
               class="form__input input"
               type="password"
               formControlName="confirmPassword"
               placeholder="Confirm password" />
        <sell-errors [serverErrors]="serverErrors" [form]="formChangePassword" [current]="'confirmPassword'"></sell-errors>
        <sell-errors [serverErrors]="serverErrors" [form]="formChangePassword" [current]="'confirmPassword'"></sell-errors>
    </div>
    <div class="form__errors form__server-errors" *ngFor="let error of serverErrors?.non_field_errors">
        <p>{{ error }}</p>
    </div>
    <div class="form__button-container form__single-button">
        <button class="button-default" type="submit" [disabled]="formChangePassword.invalid" (click)="changePassword($event, formChangePassword.value)">Change</button>
    </div>
    <div class="status-container">
        <p class="status" *ngIf="status">{{ status }}</p>
    </div>

    <button type="button" class="close close-modal-window-button" (click)="closeActiveModal()">
        &times;
    </button>
</form>
</section>
