@import '../../../styles/variables';
@import '../../../styles/mixins';

.chat {

  &__form {
    width: 100%;
    position: relative;
    margin: 5px 0 10px;
  }

  &__input {
    width: 100%;
    @include font(12, $regular-ff);
    padding-left: 7px;
    padding-bottom: 4px;
  }

  &__button {
    right: 3px;
    cursor: pointer;
    top: 50%;
    font-size: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}