<form action="" class="chat__form">
    <input type="text" class="chat__input input" placeholder="Type some text here" />
    <button class="chat__button button-send--absolute fa fa-paper-plane icon--hover"></button>
</form>