@import '../../../styles/variables';
@import '../../../styles/mixins';

.confirm-message {
  text-align: center;
  color: $base-dark-color;
  font-size: emy(24);
  margin: 1.5em;
  text-transform: capitalize;

  &__emoji {
    width: 75%;
    max-width: 300px;
    display: block;
    height: auto;
    margin: 2em auto 0;
  }
}