<section class="products" infinitiScroll (endOfPage)="addProducts()">
    <sell-product-item [products]='products'></sell-product-item>
    <div class="confirm-message" *ngIf="noProducts">
        No products were found matching your input
        <img src="../../../assets/img/crying.svg" class="confirm-message__emoji" alt="soSad">
    </div>

</section>