<div class="error">
    <div class="error__text">
        <div class="error__number">404</div>
        <div class="error__description">Page not found</div>
        <a routerLink="/" class="error__button-back button-default">
            <i class="fa fa-arrow-left"></i>
            Home
        </a>
    </div>
</div>


