@import '../../styles/variables';
@import '../../styles/mixins';

.error {
  min-height: calc(100vh - 46px);
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  margin-top: 10%;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../../assets/img/cat.jpg);
  background-repeat: no-repeat;
  background-position: 95% 100%;
  font-size: 75%;

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__number {
    font-size: emy(210);
    color: $accent-color;
  }

  &__description {
    font-size: emy(20);
    color: $base-dark-color;
    margin-top: 5px;
  }

  &__button-back {
    margin-top: 25px;

    text-decoration: none;

    i {
      margin-right: 10px;
    }

    &:hover {
      animation: movement .7s ease-in-out infinite;
    }
  }
}

//RESIZE

@media (min-width: $mobile) {

  .error {
    margin-top: 0;
    align-items: center;
    font-size: 100%;
  }
}
