<sell-header></sell-header>

<section class="container-new-post post container-new-post--max-width">
    <h1 class="post__title">New Post</h1>
    <form name="addPostForm"
          #addPostForm = 'ngForm'
          [formGroup]="formNewPost"
          class="form-post form"
          (submit)="submit($event, formNewPost.value)">
        <div class="form__input-container">
            <input type="text"
                   class="input form-post__input"
                   placeholder="Title"
                   name="title"
                   formControlName="title" />

            <sell-errors [form]="formNewPost" [current]="'title'"></sell-errors>
        </div>
        <div class="form__input-container">
            <textarea class="textarea form-post__textarea"
                      name="description"
                      [froalaEditor]="options"
                      formControlName="description" >
            </textarea>
            <div class="form__tips">
                <p>Available character count:  {{ maxLengthDescr }}</p>
            </div>
            <sell-errors [form]="formNewPost" [current]="'description'"></sell-errors>
        </div>
        <div class="form__input-container">
            <input type="text"
                   class="input form-post__input"
                   placeholder="Price"
                   name="price"
                   formControlName="price" />

            <sell-errors [form]="formNewPost" [current]="'price'"></sell-errors>
        </div>
        <div class="miniature" *ngIf="currentPhotos.reader.length > 0">
            <h3 class="modal-component__subtitle">Photo miniatures</h3>
            <ul class="photos">
                <li *ngFor="let photo of currentPhotos.reader, let i = index" class="miniature__item">
                    <img src="{{ photo }}"  alt="pr_img">
                    <span class="photos__btn-delete" (click)="removeCurrentPhoto(i)">&times;</span>
                </li>
            </ul>
        </div>
        <div class="form__input-container">
            <input id="pictures"
                   type="file"
                   class="input-type-file"
                   placeholder="Photos"
                   accept="image"
                   multiple="multiple"
                   sellit-file-reader
                   (changeFiles)="addMiniature($event)"
                   formControlName="photos" />
            <label for="pictures" class="input">
                Click to make a choice..
                <span class="button-default button-add">+</span>
            </label>
        </div>
        <div class="status-container">
            <p class="status" *ngIf="status">{{ status }}</p>
        </div>
        <div class="form__buttons-container form__several-buttons">
            <div class="button-default form-post__button-reset fa fa-trash-o" (click)="reset()"></div>
            <button class="form-post__button button-default" type="submit"
                    [disabled]="formNewPost.invalid || currentPhotos.files === undefined || currentPhotos.reader?.length < 1">Add</button>
        </div>
    </form>
</section>

<sell-footer></sell-footer>
