@import '../../styles/variables';
@import '../../styles/mixins';

.container-new-post {
  padding: 40px 0 calc(5% + 46px);

  &--max-width {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
  }
}

.post {

  &__title {
    margin-bottom: 15px;
    font-size: emy(32);
  }
}

.form-post {

  &__input {
    margin: 12px 0 7px;
    padding: 5px;
  }

  &__textarea {
    margin: 12px 0 0;
    padding: 10px;
  }
  &__button-reset {
    font-size: 26px;
    background: none;
    color: $attention-color;
  }
}

.photos {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.miniature {
  &__item  {
    height: 130px;
    width: 80%;
    margin: 7.5px auto;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .photos__btn-delete {
    position: absolute;
    color: $accent-color;
    font-size: 25px;
    right: -10px;
    top: -10px;
    padding: 10px;
    line-height: 14px;
    cursor: pointer;
    background: white;
    border-radius: 50%;

    &:hover {
      color: $attention-color;
    }
  }
}

//Resize

@media(min-width: $mobile) {

  .miniature__item {
    width: 45%;
    margin: 7.5px 2.5%;
  }
}

@media(min-width: $tablet) {
  .miniature__item {
    width: 30%;
    margin: 7.5px 1.6%;
  }
}