<div class="chat">
    <h3 class="chat__title">Chat <span>with <span class="chat__interlocutor-name">Alis Kim</span> <span class="chat__status chat__status--active"></span></span></h3>
    <sell-chat-area></sell-chat-area>
    <sell-users-list></sell-users-list>
</div>