@import '../../styles/variables';
@import '../../styles/mixins';

:host {
  width: 100%;
}

.chat {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    order: 1;
    color: $base-dark-color;
    @include font(30, $bold-ff);
    margin: emy(10) 0 0;

    &>span {
      font-size: emy(7);
      position: relative;
      top: -2px;
      letter-spacing: .2px;
    }
  }

  &__interlocutor-name {
    color: $accent-color;
  }

  &__status {
    width: 7px;
    height: 8px;
    margin-left: 3px;
    display: inline-block;
  }

  &__status--active {
    background: $price-color;
  }

}

