//FORMS FIELDS

.ng-invalid.ng-touched, .ng-dirty {
  border-color: $attention-color;
}

.ng-valid {
  border-color: $price-color;
}

body {
  font-size: 80%;
  overflow-x: hidden;
  background: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

button, input {
  border: 0;
  outline: 0!important;
  box-shadow: none;
  background: transparent;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

table {
  margin: 20px 0;
}

td {
  border: 1px solid grey;
}

a {
  text-decoration: none;
  color: $price-color;
}

.logo {
  height: auto;

  &__img {
    @include coverImg();
  }
}

.button-send--absolute {
  position: absolute;
  background: none;
  color: $base-dark-color;
}

.input {
  border-bottom: 1px solid $accent-color;
  @include font(14, $regular-ff);
  color: $base-dark-color;
  padding-bottom: 5px;
  width: 100%;
  &::-webkit-input-placeholder {
    @include font(16, $regular-ff);
    color: $base-dark-color;
  }
  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
}

.textarea {
  border: 1px solid $accent-color;
  @include font(14, $regular-ff);
  color: $base-dark-color;
  height: 150px;
  outline: none; box-shadow: none;
  resize: none;
  width: 100%;
  padding: 10px 5px;
  &::-webkit-input-placeholder {
    @include font(16, $regular-ff);
    color: $base-dark-color!important;
  }
  &:focus::-webkit-input-placeholder {color: transparent}
  &:focus::-moz-placeholder          {color: transparent}
}

.button-default {
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: default;
  padding: 7px 20px;
  opacity: .5;
  background: $accent-color;
  &:not([disabled]) {
    cursor: pointer;
    opacity: 1;
  }

  &:hover {
    background: $price-color;
  }
}

.personal-data {
  display: flex;
  align-items: center;

  &__photo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 11px 0 0;
  }

  &__img {
    @include coverImg();
  }

  &__name {
    @include font(16, $bold-ff);
  }
}

.icon--hover:hover {
  color: $accent-color;
  @include transition();
}

.sign-form {
  margin-top: 48px;

  &__input {
    background: transparent;
    margin: 5px auto;
    padding: 5px 15px 4px;
    color: white;
    border-bottom: 3px solid $form-element;

    &::-webkit-input-placeholder {
      color: $form-element;
    }
  }

  &__input, &__submit-button {
    width: 100%;
    @include transition();
    &:hover:not([disabled]) {
      border-bottom-color: $price-color;
    }
  }

  &__submit-button {
    margin: 26px auto 20px; //50px
    background: $form-element;
    border-bottom: 3px solid $form-element;
    text-align: center;
    padding: 10px 0 7px;

  }
}

.form {

  &__input-container {
    padding-bottom: 15px;
    position: relative;
  }

  &__buttons-container {
    margin: 12px 0 0;
  }

  &__input-file {
    display: flex;
    padding-bottom: 0;
  }

  &__several-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__single-button {
    display: flex;
    justify-content: flex-end;
  }

  &__errors {
    color: brown;
    font-size: 12px;

    &:not(.form__server-errors) {
      position: absolute;
      bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    p:not(:first-child) {
      display: none;
    }
  }

  &__tips {
    font-size: 13px;
    margin: 5px 0;
    color: $accent-color;
  }
}

.reminder {
  margin: 5px 0px 30px;
  padding-right: 88px;
  color: $attention-color;
  font-size: emy(14);
  position: relative;

  .arrow {
    width: 37px;
    position: absolute;
    right: 45px;
    top: 5px;
    transform: scale(-1, -1) rotate(240deg);
  }
}

.status-container {
  padding-bottom: 20px;
  position: relative;

  .status {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    color: $price-color;
    font-size: 15px;
  }
}

.textareaEditor .fr-toolbar {
  border-color: $accent-color;
}

.alert__confirm-btn, .alert__cancel-btn {
  @include transition();
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 5px;
}

.alert__confirm-btn {
  background: $price-color;

  &:hover {
    background: darken($price-color, 25%);
  }
}

.alert__cancel-btn {
  background: $attention-color;

  &:hover {
    background: darken($attention-color, 25%);
  }
}

.close-modal-window-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
// For all modal window

.modal-component {
  width: 90%;
  margin: 20px auto;

  &__title {
    color: $accent-color;
    margin-bottom: 20px;
    font-size: 1.8em;
  }

  &__subtitle {
    color: $accent-color;
    font-size: emy(15);
    margin: 10px 0;
  }

  .form__input-container:not(.form__input-file) {
    padding-bottom: 19px;
  }
}

//For input [type='file']

.input-type-file {
  display: none;

  & + label {
    position: relative;
    cursor: pointer;

    &:hover .button-add {
      background: $price-color;
    }

    .button-add {
      border-top-left-radius: 50%;
      right: 0;
      bottom: 0;
      padding: 2px 10px;
      font-size: 14px;
      position: absolute;
    }
  }
}


