@mixin alignBoth($value1, $value2) {
  justify-content: $value1;
  align-items: $value2;
}

@mixin transition($transition: 0.3s all ease-out) {
  -moz-transition:    $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@function emy($pxsize) {
  @return ($pxsize/16)+em;
}

@mixin coverImg() {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
  object-fit: cover;
}

@mixin font($pxsize, $weight) {
  font: $weight emy($pxsize) Arial, sans-serif;
}

@mixin ellipsisText() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@keyframes movement{

  from {
    opacity: 1;
  }

  to {
    opacity: .5;
  }
}
