
@media (min-width: $mobile) {
  .content-page {
    padding: 5.5% 0 1.1%;
  }
}

@media (min-width: $tablet) {

  body {
    font-size: 90%;
  }
}

@media(min-width: $desktop) {

  body {
    font-size: 100%;
  }

  .content-page {
    &--max-width {
      width: 95%;
    }
  }
}
