@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  order: 2;
}

.chat {

  &__secondary-title {
    @include font(18, $bold-ff);
    margin-bottom: 14px;
  }
}

//RESIZE

@media (min-width: $tablet) {

  :host {
    order: 3;
    margin-top: -10px;
  }
}

