@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.burger {
  margin-right: 20px;
  cursor: pointer;
}

.burgerActive {

  .burger__item:not(:nth-child(2)) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .burger__item:first-child {
    top: 7px;
  }

  .burger__item:last-child {
    top: -7px;
    opacity: 0;
  }

  .burger__item:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.burger__item {
  display: block;
  position: relative;
  background-color: $base-light-color;
  width: 25px;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 2px;
  @include transition();

  &:last-child {
    margin-bottom: 0;
  }
}

//Resize

@media (min-width: $tablet) {

  .burger {
    display: none;
  }
}