<div class="burger" (click) = 'clickOnBurger()' [ngClass] = "{'burgerActive': flag}">
    <span class="burger__item"></span>
    <span class="burger__item"></span>
    <span class="burger__item"></span>
</div>