@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  order: 3;
}

//RESIZE

@media (min-width: $tablet) {

  :host {
    order: 2;
    width: calc(54% - 11px);
    margin-right: 15px;
  }
}

