<form class="sign-form form" name='signInForm' #signInForm='ngForm' [formGroup]="formSignIn" id="sign-in-form" (submit)="submit($event, formSignIn)">
    <div class="form__input-container">
        <input name='email'
               class="form__input sign-form__input sign-form__input--hover"
               type="email"
               formControlName="email"
               placeholder="Email" />

        <sell-errors [form]="formSignIn" [current]="'email'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <div class="form__input-container">
        <input name='password'
               class="form__input sign-form__input sign-form__input--hover"
               type="password"
               formControlName="password"
               placeholder="Password" />

        <sell-errors [form]="formSignIn" [current]="'password'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <button type="submit" class="sign-form__submit-button" [disabled]="formSignIn.invalid"> Login </button>

    <div class="form__errors form__server-errors" *ngFor="let error of serverErrors.non_field_errors">
        <p>{{ error }}</p>
    </div>
</form>