//@import 'src/styles/mixins';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $accent-color;

  &__text {
    color: $base-light-color;
    @include font(18, $bold-ff);
    text-align: center;
    padding: 15px 10px;
  }
}