<div class="chat__message">
    <div class="chat__message-container">
        <div class="chat__person-photo">
            <img src="assets/img/user1.jpg" alt="avatar" />
        </div>
        <div class="chat__message-text">One line chat message</div>
    </div>
</div>
<div class="chat__message chat__message--own">
    <div class="chat__message-container">
        <div class="chat__person-photo">
            <img src="assets/img/user2.jpg" alt="avatar" />
        </div>
        <div class="chat__message-text">Multi line chat message. Some  text for multi line message.
            What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts.
            May be your facebook page or some think alse. How much cost this t shirt?
        </div>
    </div>
</div>
<div class="chat__message chat__message--own">
    <div class="chat__message-container">
        <div class="chat__person-photo">
            <img src="assets/img/user2.jpg" alt="avatar" />
        </div>
        <div class="chat__message-text">Multi line chat message. Some  text for multi line message.
            What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts.
            May be your facebook page or some think alse. How much cost this t shirt?
        </div>
    </div>
</div>
<div class="chat__message chat__message--own">
    <div class="chat__message-container">
        <div class="chat__person-photo">
            <img src="assets/img/user2.jpg" alt="avatar" />
        </div>
        <div class="chat__message-text">Multi line chat message. Some  text for multi line message.
            What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts.
            May be your facebook page or some think alse. How much cost this t shirt?
        </div>
    </div>
</div>
<div class="chat__message">
    <div class="chat__message-container">
        <div class="chat__person-photo">
            <img src="assets/img/user1.jpg" alt="avatar" />
        </div>
        <div class="chat__message-text">Multi line chat message. Some  text for multi line message.
            What is your name. Oh sorry. My bad, your name I think  Alis. Right? Please send me your contacts.
            May be your facebook page or some think alse. How much cost this t shirt?
        </div>
    </div>
</div>