@import '../../../styles/variables';
@import '../../../styles/mixins';

.chat {

  &__message {
    margin-bottom: emy(26);

    &:last-child {
      margin-bottom: emy(20);
    }
  }

  &__message--own {
    display: flex;
    justify-content: flex-end;

    .chat__message-container {
      flex-direction: row-reverse;
    }

    .chat__person-photo {
      margin-left: 10px;
      margin-right: 0;
    }

    .chat__message-text {
      padding-right: 0;
      padding-left: 10px;

      &:before {
        content: '';
        left: 0;
        right: auto;
      }
    }
  }

  &__person-photo {
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;

    img {
      @include coverImg;
    }
  }

  &__message-container {
    display: inline-flex;
    max-width: 458px;
    width: 90%;
    align-items: center;
  }

  &__message-text {
    position: relative;
    letter-spacing: -.1px;
    @include font(14, $regular-ff);
    padding-right: 6px;

    &:before {
      content: '';
      height: 100%;
      position: absolute;
      width: 5px;
      background: $accent-color;
      right: 0;
    }
  }

}