@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";
//@import "/src/styles/mixins.scss";

.button-scrollTop {
  width: 60px;
  height: 60px;
  background: white;
  border: 2px solid $accent-color;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  cursor: pointer;
  font-size: 19px;
  z-index: 10;
  right: 20px;
  color: $accent-color;
  display: flex;
  @include alignBoth(center, center);
  @include transition();

  i {
    position: relative;
  }

  @-webkit-keyframes arrowMove {
    0%   { top: -7px }
    100% { top: 1px }
  }

  &:hover {
    color: white;
    background: $accent-color;

    i {
      animation: arrowMove 1s infinite;
    }
  }
}