<form class="sign-form form" id="sign-up-form"
      #signUpForm='ngForm' [formGroup]="formSignUp"
      name="signUpForm" validateEqual
      (submit)="submit($event, formSignUp)">
    <div class="form__input-container">
        <input class="form__input sign-form__input sign-form__input--hover"
               type="email"
               name="email"
               placeholder="Email"
               formControlName="email" />

        <sell-errors [form]="formSignUp" [current]="'email'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <div class="form__input-container">
        <input class="form__input sign-form__input sign-form__input--hover"
               type="text"
               placeholder="Username"
               name="username"
               formControlName="username"/>

        <sell-errors [form]="formSignUp" [current]="'username'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <div class="form__input-container">
        <input class="form__input sign-form__input sign-form__input--hover"
               type="password"
               name="password"
               formControlName="password"
               placeholder="Password" />

        <sell-errors [form]="formSignUp" [current]="'password'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <div class="form__input-container">
        <input class="form__input sign-form__input sign-form__input--hover"
               type="password"
               name="confirmPassword"
               formControlName="confirmPassword"
               placeholder="Confirm password" />

        <sell-errors [form]="formSignUp" [current]="'confirmPassword'" [serverErrors]="serverErrors"></sell-errors>
    </div>
    <button class="sign-form__submit-button" [disabled]="formSignUp.invalid">Send</button>

    <div class="form__errors form__server-errors" *ngFor="let error of serverErrors.non_field_errors">
        <p>{{ error }}</p>
    </div>
    <p class="form__errors form__server-errors">  {{ serverErrors.error }}  </p>

</form>