@import '../../../styles/variables';
@import '../../../styles/mixins';


.product {
  margin: 20px 0;
  width: 100%;

  &__img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block;
  }

  &__img {
    @include coverImg();
    @include transition(0.5s transform ease-in);

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &__description {
    background: $accent-color;
    display: flex;
    @include alignBoth(space-between, center);
    color: $base-light-color;
    height: 50px;
    position: relative;
    padding: 0 4%;
  }

  &__title {
    @include font(18, $bold-ff);
    width: 80%;
    @include ellipsisText();
  }

  &__figcaption-link {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;

    &:hover {
      &+.product__show-more {
        color: $price-color;
      }
    }
  }

  &__show-more {
    color: $base-light-color;
    font-size: emy(22);
    @include transition();
  }
}


//RESIZE

@media (min-width: $mobile) {

  .product {
    width: calc(50% - 20px);
    margin: 12px 10px;
  }

  :host {
    display: flex;
    flex-wrap: wrap;
  }
}


@media (min-width: $tablet) {

  .product {
    width: calc(33% - 20px);
  }
}

@media(min-width: $desktop) {

  .product {
    width: calc(25% - 20px);

    &__show-more {
      top: -2px;
      position: relative;
    }
  }
}
