<figure class="product" *ngFor="let product of products, let i = index" >
    <a [routerLink]="['product', product.id]" class="product__img-container">
        <img *ngIf="product.photos[0]" src="{{ product.photos[0].photo }}" alt="product_img" class="product__img" />
    </a>
    <figcaption class="product__description">
        <div class="product__title">{{ product.title }} </div>
        <a [routerLink]="['product', product.id]" class="product__figcaption-link"></a>
        <span class="product__show-more fa fa-eye"></span>
    </figcaption>
</figure>
