@import '../../../styles/variables';
@import '../../../styles/mixins';

:host {
  overflow-y: auto;
  max-height: 290px;
  display: block;
}

.chat {

  &__message-area {
    min-height: 234px;
    margin-top: emy(20);
  }
}


//RESIZE

@media (min-width: $tablet) {

.chat__message-area {
    //margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
