<sell-header></sell-header>

<div class="content-product-page content-product-page--max-width">
    <sell-slider [photos] = 'product?.photos'></sell-slider>

    <div class="information">
        <h1 class="information__title"> {{ product?.title }} </h1>
        <div class="information__personal-data">
            from
            <span class="information__author">
                {{ userDetails?.username }}
            </span>
            <span class="information__price"> {{ product?.price }}$</span>
        </div>
        <div class="information__description-text">
            <div class="information__text" [froalaView]="product?.description"></div>
            <div *ngIf="isRoot" class="information__buttons-container">
                <div class="button-default fa fa-trash" (click)="deleteProduct()"></div>
                <div class="button-default fa fa-pencil" (click)="open()"></div>
                <!--<ngb-modal class="button-default fa fa-pencil" [product]="product"></ngb-modal>-->
            </div>
        </div>
    </div>
    <sell-chat *ngIf="isLogin"></sell-chat>
</div>

<sell-btnScrollTop></sell-btnScrollTop>
<sell-footer></sell-footer>