@import '../../styles/variables';
@import '../../styles/mixins';

.content-product-page {
  padding: 60px 0 calc(1.1% + 46px);
  &--max-width {
    margin: 0 auto;
    width: 90%;
    max-width: 950px;
  }
}

.information {
  margin-top: emy(16);

  &__buttons-container {
    display: flex;
    justify-content: flex-end;

    .button-default {
      border-top-left-radius: 50%;

      &:last-child {
        margin-left: 10px;
      }
    }
  }

  &__title {
    font: emy(32) $myriadPro-ff;
    color: black;
    margin-bottom: 7px;
  }

  &__personal-data {
    @include font(18, $bold-ff);
    margin-bottom: emy(29);
  }

  &__author {
    color: $accent-color;
  }

  &__price {
    color: $price-color;
    font-size: emy(32);
    margin-left: 12px;
    letter-spacing: -1.8px;
  }

  &__description-text {
    color: $base-dark-color;
    @include font(18, $regular-ff);
  }
}

//Resize

@media (min-width: $tablet) {

  .content-product-page {
    display: flex;
    flex-wrap: wrap;
    padding: 6.4% 0 calc(1.1% + 46px);
  }

  .information {
    width: 45%;
    margin-top: -3px;
    padding-left: 15px;
  }
}

