<sell-header> </sell-header>
<div class="content-products-page content-products-page--max-width">
  <sell-product-list></sell-product-list>
</div>

<sell-btnScrollTop></sell-btnScrollTop>

<sell-footer></sell-footer>