@import '../../styles/variables';
@import '../../styles/mixins';

.content-products-page {
  padding: 40px 0 calc(1.1% + 46px);
  &--max-width {
    margin: 0 auto;
    width: 90%;
    max-width: 1360px;
  }
}
