<section class="edit-post modal-component">
    <h2 class="modal-component__title">Edit Post</h2>
    <form [formGroup]="editPostForm"
          class="form-post form"
          (submit)="submit($event, editPostForm.value)">
        <div class="form__input-container">
            <input type="text"
                   class="input form-post__input"
                   placeholder="Title"
                   name="title"
                   formControlName="title" />

            <sell-errors [form]="editPostForm" [current]="'title'"></sell-errors>
        </div>
            <div class="form__input-container">
                <textarea class="textarea form-post__textarea"
                          name="description"
                          [froalaEditor]="options"
                          [(froalaModel)]="editPostForm.description"
                          formControlName="description" >
                </textarea>
                <div class="form__tips">
                    <p>Available character count:  {{ maxLengthDescr }}</p>
                </div>
                <sell-errors [form]="editPostForm" [current]="'description'"></sell-errors>
            </div>
            <div class="form__input-container">
                <input type="text"
                       class="input form-post__input"
                       placeholder="Price"
                       name="price"
                       formControlName="price" />

                <sell-errors [form]="editPostForm" [current]="'price'"></sell-errors>
            </div>
            <div class="miniature">
                <h3 class="modal-component__subtitle">Products photos</h3>
                <ul class="photos">
                    <li *ngFor="let photo of product.photos" class="miniature__item">
                        <img src="{{ photo.photo }}"  alt="pr_img">
                        <span class="photos__btn-delete" (click)="removePhoto(photo.id)">&times;</span>
                    </li>
                    <li *ngFor="let photo of currentPhotos.reader, let i = index" class="miniature__item">
                        <img src="{{ photo }}"  alt="pr_img">
                        <span class="photos__btn-delete" (click)="removeCurrentPhoto(i)">&times;</span>
                    </li>
                </ul>
            </div>
            <div class="form__input-container form__input-file">
                <input id="pictures"
                       type="file"
                       class="input-type-file"
                       placeholder="Photos"
                       accept="image"
                       (changeFiles)="addMiniature($event)"
                       multiple="multiple"
                       formControlName="photos"
                       sellit-file-reader
                />
                <label for="pictures" class="input">
                    Click to make a choice..
                    <span class="button-default button-add">+</span>
                </label>
            </div>
        <div class="reminder">If you leave before saving, your changes will be lost. <img src="../.././../assets/img/share.svg" class="arrow" /></div>

        <div class="status-container">
            <p class="status" *ngIf="status">{{ status }}</p>
        </div>
        <div class="form__button-container form__single-button">
            <button class="form-post__button button-default" type="submit"
                        [disabled]="editPostForm.invalid">Edit</button>
        </div>
        <button type="button" class="close close-modal-window-button" (click)="activeModal.dismiss('Cross click')">
             &times;
        </button>
    </form>
</section>

<img *ngFor='let i of testImg' src="{{ i }}" alt="test">