@import '../../styles/variables';
@import '../../styles/mixins';

.profile {
  padding: 40px 0 calc(1.1% + 46px);

  &--max-width {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
  }

  &__edit, &__remove {
    font-size: 12px;
    cursor: pointer;
    color: white;
    transition: 0.5s bottom, 0.3s color ease-out;
    &:hover {
      color: $accent-color;
    }
  }

  &__change-pass {
    font-size: emy(14);
    margin-bottom: 15px;

    .profile__property:hover {
      color: $attention-color;
      cursor: pointer;
    }
  }

  &__title {
    margin-bottom: 1em;
  }

  &__subtitle {
    font-size: emy(22);
    margin: 1em 0;
  }

  &__input {
    font-size: 14px;
    padding: 0;
  }

  &__edit-photo-btn {
    width: 100%;
    font-size: 14px;
    background: rgba($base-dark-color, 0.9);
    text-align: center;
    display: block;
    color: white;
    margin-top: -1px;
    padding: 7px;
    transition: bottom 0.5s ease-out;
  }

  &__img {
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    font-size: emy(20);

    &-row {
      margin-top: 10px;
    }
  }

  &__item {
    font-size: emy(14);
    color: slategray;
  }

  &__property {
    color: $price-color;
  }

  &__value {
    color: $base-dark-color;
    text-decoration: none;
  }
}

//Resize
@media (min-width: $mobile) {

  .columns {
    display: flex;
  }

  .profile{
    &__img {
      width: 190px;
      max-width: none;
      margin-left: 0;
      margin-right: 30px;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}