<sell-header></sell-header>

    <section class="profile profile--max-width">
        <h1 class="profile__title">Your personal information</h1>

        <div class="columns">
            <div class="profile__img">
                <img *ngIf="user?.photo.photo != null" src="{{ user?.photo.photo }}" alt="photo" />
                <img *ngIf="user?.photo.photo === null" src="../../assets/img/default-avatar.png" alt="photo" />
                <span class="profile__edit-photo-btn">
                    <span class="profile__edit" (click)="openNewPhotoPopup()">Edit</span>
                    <span *ngIf="isDeleteAvatar"> /
                        <span class="profile__remove" (click)="deletePhoto()">Delete</span>
                    </span>
                </span>
            </div>
            <div class="profile__info">
                <div class="profile__item"> ID: {{ user?.id }} </div>
                <div class="profile__item"> @{{ user?.username }} </div>
                <div class="profile__info-row">
                    <span class="profile__property">Email: </span>
                    <a href="mailto:{{ user?.email }}" class="profile__value"> {{ user?.email }} </a>
                </div>
                <div class="profile__change-pass">If you want change password - click
                    <span class="profile__property" (click)="openChangePasswordPopup()">here.</span> </div>
                <div class="status-container">
                    <p class="status" *ngIf="status">{{ status }}</p>
                </div>
            </div>
        </div>
    </section>

<sell-footer></sell-footer>