<div class="user-block">
   <!--Not Authorized-->
    <div class="user-block__cont user-block--not-authorized" *ngIf = '!isLogginIn'>
        <div class="user-block__greeting">
            Welcome, <a routerLink="/login-page/signIn" class="user-block__greeting-link">login</a> or
            <a routerLink="/login-page/signUp" class="user-block__greeting-link">register</a> for start !
        </div>
    </div>

    <!--Authorized-->
    <div class="user-block__cont user-block--authorized user-block--hover"  *ngIf = 'isLogginIn'>
        <div class="user-block__personal-data personal-data">
            <div class="personal-data__photo">
                <img *ngIf="user?.photo.photo != null" src="{{ user?.photo.photo }}" alt="photo" class="personal-data__img" />
                <img *ngIf="user?.photo.photo === null" src="../../../../../assets/img/default-avatar.png" alt="photo" class="personal-data__img" />
            </div>
            <div class="personal-data__name">
                {{ user?.fullName }}
                <span *ngIf="user?.fullName.length <= 1"> @{{ user?.username }} </span>
            </div>
        </div>
        <div class="user-block__sign-out" (click)="logout()">
            <span class="user-block__logout fa fa-sign-out"></span>
        </div>

        <!--Menu-->
        <ul class="user-block__menu">
            <li routerLink="/new-post" class="user-block__menu-btn user-block__menu-btn--hover">
                Add new post
            </li>
            <li routerLink="/user-profile" class="user-block__menu-btn user-block__menu-btn--hover">
                Profile
            </li>
        </ul>
    </div>

    <!--For mobile menu - burger-->

    <sell-burger *ngIf = 'isLogginIn'></sell-burger>
</div>