@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

:host {
  height: 100%;
}

.user-block {
  width: 180px;
  margin-left: 10px;
  background-color: $accent-color;
  height: 100%;
  display: flex;
  @include alignBoth(flex-end, center);

  &__menu {
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__menu-btn {
    display: inline-block;
    width: 49%;
    padding: 15px 10px 12px;
    text-align: center;
    color: $base-light-color;
    outline: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
    font: emy(16) $myriadPro-ff;
  }

  .personal-data__photo {
    margin: 0 11px 0 0;
  }

  &--not-authorized {
    padding-right: 1.3%;
    padding-left: 25px;
    width: 100%;
  }

  &--authorized {
    //padding-right: 1.3%;
    //padding-left: 25px;
    position: absolute;
    z-index: 2;
    top: 59px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: $accent-color;
    padding: 0px 5%;
    display: flex;
    flex-wrap: wrap;
    @include alignBoth(space-between, center);
    @include transition();

    &--open {
      height: auto;
      padding: 10px 5%;
    }
  }

  &__greeting {
    color: $base-light-color;
    @include font(18, $bold-ff);
  }

  &__greeting-link {
    color: $base-dark-color;
    text-decoration: none;
    @include transition();
    cursor: pointer;

    &:hover {
      color: $price-color;
    }
  }

  &__logout {
    color: $base-light-color;
    font-size: emy(29);
    @include transition();
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $base-dark-color;
    }
  }
}

//Resize

@media (min-width: $tablet) {

  :host {
    width: 40%;
    max-width: 383px;
  }

  .user-block {
      width: 100%;

      .personal-data__name {
        color: $base-light-color;
      }

    &__logout {
      margin-left: 0;
    }

    &__menu {
      position: absolute;
      bottom: -43px;
      height: 0;
      left: 0;
      width: 100%;
      @include transition();
      overflow: hidden;
      background: $accent-color;
    }

    &--authorized {
      position: relative;
      top: 0; left: 0;
      @include alignBoth(space-between, center);
      width: 100%;
      overflow: visible;
      height: 100%;
      padding: 0 18px 0 25px;

      &__personal-data {
        display: flex;
      }
    }

    &__menu-btn--hover, &--hover {

      &:before {
        content: '';
        width: 5px;
        height: 100%;
        opacity: 0;
        top: 0; left: 0;
        position: absolute;
        background: $base-dark-color;
        @include transition();
      }

      &:hover:before {
        opacity: 1;
      }
    }

    &--hover:hover .user-block__menu {
      height: 43px;
    }
  }

  .burger {
    display: none;
  }
}